.checkbox-group {
    position: relative;
    left: 25px;
}

.icons-right {
	float:right;
	cursor: pointer;
    color: #009688;
}
.list-group-item-text{
	font-size: 16px !important;
}
.list-group .list-full-separator {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-group .list-full-separator::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
}
.group-level-parent{
    margin-left:0px;
    border-bottom: 1px solid #ccc; 
}
.group-level-children{
    margin-left:25px; 
    border-bottom: 1px solid #ccc;
}
.item-right{
    position: relative;
    right: 0;
}
.panel-title,.navbar-brand,.dropdown-toggle{
    color:black;
}